main {
    height: fit-content;
    padding: 20px 80px;
    background-image: linear-gradient(to right, #09203F, #245f8d);
}

.main {
    display: flex;
    vertical-align: middle;
    margin: 100px auto;
}


#shokouh-building {
    border-radius: 15px;
    display: inline-block;
    margin: 0 0 0 5%;
    border: 2px solid black;
    transition: all 1s;
}

    #shokouh-building:hover {
        box-shadow: 0 0 30px white;
    }

.position {
    display: inherit;
    font-size: x-large;
    font-family: yekan;
    color: white;
    display: inline-block;
    /* margin-right: 50px; */
}


#text_main {
    text-align: center;
    margin: 0;
    color: white;
    font-family: yekan;
    vertical-align: middle;
    margin: 0 auto;
    /* text-shadow: 20px 20px 10px white; */
    font-size: x-large;
}


.index_image {
    width: 40%;
    border-radius: 25px;
    border: 2px solid black;
    display: inline-block;
    margin: 0 auto;
    transition: all 1s;
}

    .index_image:hover {
        box-shadow: 0px 0px 30px white;
    }

#index_text {
    font-size: 300%;
    display: inline-block;
    color: white;
    text-shadow: 20px 20px 10px white;
    align-self: center;
    margin: 0 auto;
    transition: transform 3s;
}

    #index_text:hover {
        transform: rotatey(360deg);
    }


@media (max-width : 850px) {

    .index_image {
        width: 30%;
        border-radius: 25px;
        border: 2px solid black;
        display: inline-block;
        margin: 0 auto;
        transition: all 1s;
    }

        .index_image:hover {
            box-shadow: 0px 0px 30px white;
        }

    #index_text {
        font-size: 200%;
        display: inline-block;
        color: white;
        /* text-shadow: 20px 20px 10px white; */
        align-self: center;
        margin: 0 10%;
    }

    #text_main {
        text-align: center;
        margin: 0;
        color: white;
        font-family: yekan;
        vertical-align: middle;
        margin: 0 auto;
        /* text-shadow: 20px 20px 10px white; */
        font-size: large;
    }
}
