main {
    height: fit-content;
    padding: 20px 80px;
    background-image: linear-gradient(to right, #09203F, #245f8d);
}

.product {
    align-items: center;
    align-content: center;
    margin: 10px 0;
}

.img {
    margin: 0 10%;
}

.img_style {
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 0 10px cyan;
    transition: all 0.5s;
}

    .img_style:hover {
        box-shadow: 10px 10px 20px white;
        transform: scale(1.1);
    }

.up {
    border-radius: 100%;
    background-image: linear-gradient( to right,#3686ff, rgb(0, 229, 255));
    position: fixed;
    bottom: 30px;
    right: 20px;
}

    .up:hover {
        transform: scale(1.3);
    }

.zoom_img {
    width: 1520px;
    height: 2000px;
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    backdrop-filter: blur(1rem);
    /* transform: scale(1.5); */
    opacity: 0;
    visibility: hidden;
}

.z_i {
    transform: scale(1.5);
    width: 900px;
}

.z_i_b {
    width: 2rem;
    height: 2rem;
    position: fixed;
    top: 10px;
    right: 10px;
    text-decoration: none;
    border-radius: 100%;
    background-color: black;
}

.zoom_img:target {
    opacity: 1;
    visibility: visible;
}
